<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.choirunnisa.mypsilat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPsilat">
        <activity android:name="com.choirunnisa.mypsilat.TeknikJurusActivity"></activity>
        <activity android:name="com.choirunnisa.mypsilat.ReferenceActivity" />
        <activity android:name="com.choirunnisa.mypsilat.tendang.TendanganSabitActivity" />
        <activity android:name="com.choirunnisa.mypsilat.tendang.TendanganTActivity" />
        <activity android:name="com.choirunnisa.mypsilat.tendang.TendanganLurusActivity" />
        <activity android:name="com.choirunnisa.mypsilat.tangkis.TangkisanLuarActivity" />
        <activity android:name="com.choirunnisa.mypsilat.tangkis.TangkisanDalamActivity" />
        <activity android:name="com.choirunnisa.mypsilat.tangkis.TangkisanBawahActivity" />
        <activity android:name="com.choirunnisa.mypsilat.tangkis.TangkisanAtasActivity" />
        <activity android:name="com.choirunnisa.mypsilat.polalangkah.PolaLangkahSegitigaActivity" />
        <activity android:name="com.choirunnisa.mypsilat.polalangkah.PolaLangkahUActivity" />
        <activity android:name="com.choirunnisa.mypsilat.polalangkah.PolaLangkahLurusActivity" />
        <activity android:name="com.choirunnisa.mypsilat.pukul.PukulanLingkarActivity" />
        <activity android:name="com.choirunnisa.mypsilat.pukul.PukulanSangkalActivity" />
        <activity android:name="com.choirunnisa.mypsilat.pukul.PukulanDepanActivity" />
        <activity android:name="com.choirunnisa.mypsilat.elakan.ElakanAtasActivity" />
        <activity android:name="com.choirunnisa.mypsilat.elakan.ElakanSampingActivity" />
        <activity android:name="com.choirunnisa.mypsilat.elakan.ElakanBawahActivity" />
        <activity android:name="com.choirunnisa.mypsilat.hindar.HindaranKakiSilangActivity" />
        <activity android:name="com.choirunnisa.mypsilat.hindar.HindaranAngkatKakiActivity" />
        <activity android:name="com.choirunnisa.mypsilat.hindar.HindaranSisiActivity" />
        <activity android:name="com.choirunnisa.mypsilat.kuda.KudaTengahActivity" />
        <activity android:name="com.choirunnisa.mypsilat.kuda.KudaSampingActivity" />
        <activity android:name="com.choirunnisa.mypsilat.kuda.KudaBelakangActivity" />
        <activity
            android:name="com.choirunnisa.mypsilat.kuda.KudaDepanActivity"
            android:label="@string/title_activity_kuda_depan"
            android:theme="@style/Theme.MyPsilat.NoActionBar" />
        <activity android:name="com.choirunnisa.mypsilat.tendang.TeknikMenendangActivity" />
        <activity android:name="com.choirunnisa.mypsilat.tangkis.TeknikMenangkisActivity" />
        <activity android:name="com.choirunnisa.mypsilat.hindar.TeknikMenghindarActivity" />
        <activity android:name="com.choirunnisa.mypsilat.elakan.TeknikMengelakActivity" />
        <activity android:name="com.choirunnisa.mypsilat.TentangActivity" />
        <activity android:name="com.choirunnisa.mypsilat.SkorActivity" />
        <activity android:name="com.choirunnisa.mypsilat.EvaluasiActivity" />
        <activity android:name="com.choirunnisa.mypsilat.pukul.TeknikPukulActivity" />
        <activity android:name="com.choirunnisa.mypsilat.polalangkah.PolaLangkahActivity" />
        <activity android:name="com.choirunnisa.mypsilat.kuda.SikapKudaActivity" />
        <activity android:name="com.choirunnisa.mypsilat.PerlengkapanTandingActivity" />
        <activity android:name="com.choirunnisa.mypsilat.PerlengkapanLapActivity" />
        <activity android:name="com.choirunnisa.mypsilat.LapanganActivity" />
        <activity android:name="com.choirunnisa.mypsilat.TeknikActivity" />
        <activity android:name="com.choirunnisa.mypsilat.SaranaActivity" />
        <activity android:name="com.choirunnisa.mypsilat.SeputarActivity" />
        <activity android:name="com.choirunnisa.mypsilat.MainActivity" />
        <activity android:name="com.choirunnisa.mypsilat.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>